.card {
    width: 45.6rem;
    height: 17.5rem;
    border-radius: 10px;
    box-shadow: 0 -3px 8px 8px hsl(212, 22%, 77%, 0.5);
    display: flex;
    flex-direction: row;
    background-color: white;
}

@media screen and (max-width: 768px) {
    .card {
        flex-direction: column;
        height: 32rem;
        width: 20.5rem;
        box-shadow: 0 -1px 8px 8px hsla(212, 22%, 77%, 0.535);
    }
}

.card > aside {
    background-image: url('../../assets/images/drawers.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 17.8rem;
    border-radius: 10px 0 0 10px;
}

@media screen and (max-width: 768px) {
    .card > aside {
        min-width: 100%;
        min-height: 12.4rem;
    }
}

.card > article {
    padding: 35px;
    border-radius: 0 10px 10px 0;
}

@media screen and (max-width: 768px) {
    .card > article {
        padding: 30px;
    }
}

.card > article > h1 {
    font-size: 1.2rem;
    color: var(--very-dark-grayish-blue);
    line-height: 28px;
    margin-bottom: 0.7rem;
}

@media screen and (max-width: 768px) {
    .card > article > h1 {
        font-size: 1rem;
        line-height: 22px;
        margin-bottom: 1rem;
    }
}

.card > article > p {
    color: var(--very-dark-grayish-blue);
    line-height: 21px;
    margin-bottom: 1.8rem;
}

@media screen and (max-width: 768px) {
    .card > article > p {
        font-size: 0.9rem;
        margin-bottom: 2.2rem;
    }
}

.card > article > .profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profileInfo {
    display: flex;
}

.profileInfo > img {
    max-width: 40px;
    max-height: 40px;
    border-radius: 999px;
    overflow: hidden;
    margin-right: 1rem;
}

.profileCol {
    display: flex;
    flex-direction: column;
}

.profileCol > h2 {
    font-size: 0.8rem;
    font-size: 500;
    color: var(--very-dark-grayish-blue);
    margin-bottom: 0.2rem;
}

.profileCol > .date {
    color: hsl(214, 17%, 51%);
}
